<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>
 
<body>
 <div class="container">
    <div class="header">
      <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true" alt="">
      <ul>
        <li><a href="">系列鏡框</a></li>
        <li><a href="">門市據點</a></li>
        <li><a href="">部落格</a></li>
        <li><a href="qapage.html">常見問題</a></li>
      </ul>
    </div>
  <div class="header-s">
      <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true" alt="">
    <ul>
      <li><a>系列鏡框</a></li>
      <li><a>門市據點</a></li>
    </ul>
    <ul>
      <li><a>部落格</a></li>
      <li><a>常見問題</a></li>
    </ul>
  </div>
  <%- contents %>
    <div class="footer">
      <div class="footer-inner">
        <div class="footer-inner-top" >
          <ul>
            <li>首頁</li>
            <li>系列鏡框</li>
            <li>門市據點</li>
            <li>部落格</li>
            <li>常見問題</li>
          </ul>
          <ul>
            <li><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week3/icon-fb.svg" alt=""></li>
            <li><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week3/icon-ig.svg" alt=""></li>
            <li><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week3/icon-line.svg" alt=""></li>
          </ul>
        </div>
        <div class="phone-s">
        <p><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week3/icon-phone.svg" alt=""><span>0800-000-000</span></p>
        <ul class="icons-s">
            <li><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week3/icon-fb.svg" alt=""></li>
            <li><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week3/icon-ig.svg" alt=""></li>
            <li><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week3/icon-line.svg" alt=""></li>
          </ul>
         </div>
        <br>
        <p><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week3/icon-mail.svg" alt=""><span>glasses@business.com</span></p>

        <hr>
        <div class="copyright">
          <ul>
            <li><img class="glass-icon" src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true" alt=""></li>
            <li>Copyright © 2020 Glasses.All rights reserved.</li>
          </ul>
          <ul>
            <li>隱私權政策</li>
            <li>服務條款</li>
          </ul>
        </div>
                <div class="copyright-s">
                  <ul>
                    <li>Copyright © 2020 Glasses.All rights reserved.</li>
                    <li>隱私權政策</li>
                    <li  class="downflex">
                        <div>服務條款</div>
                        <img  src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true"
                            alt="">
                    </li>
                  </ul>
                </div>
      </div>
    </div>

  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
